<div class="dummy-phone">
  <div class="screen-shot">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img height= "427", width= "240", src="https://www.instagram.com/static/images/homepage/screenshot1-2x.jpg/9144d6673849.jpg">
        </div>
        <div class="carousel-item">
          <img height= "427", width= "240", src="https://www.instagram.com/static/images/homepage/screenshot2-2x.jpg/177140221987.jpg">
        </div>
        <div class="carousel-item">
          <img height= "427", width= "240", src="https://www.instagram.com/static/images/homepage/screenshot3-2x.jpg/ff2c097a681e.jpg">
        </div>
        <div class="carousel-item">
          <img height= "427", width= "240", src="https://www.instagram.com/static/images/homepage/screenshot4-2x.jpg/b27a108592d8.jpg">
        </div>
        <div class="carousel-item">
          <img height= "427", width= "240", src="https://www.instagram.com/static/images/homepage/screenshot5-2x.jpg/5e04169b9308.jpg">
        </div>
      </div>
    </div>
  </div>
</div>